project:
  type: website  
  resources:
    - "Resume_3.4.2025.pdf"

website:
  title: "Caleb Williams"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About 

format:
  html:
    theme: zephyr
    css: styles.css
    toc: true

editor: visual

execute: 
  freeze: auto